/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require twitter/bootstrap
 *= require_tree .
 *= require_self
 */


/***   Custom CSS Below   ***/

.logo {
	height: 82px;
	margin: 0.5em 0 0;
	padding: 0;
	width: 425px;
}

.navbar-brand {
	background: url(/assets/logo-stalker.png) no-repeat 0 0 transparent;	font-size: 2.25em;
	line-height: 1;
	margin: 0;
	padding: 0 0 0 145px;
}

.navbar-nav.pull-right {
	float: right;
	width: 60%;
}

.navbar-nav > li {
	float: right;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
	color: #BBBBBB;
}

#main-content.container {
		margin: 0 auto 2.5em;
}

footer {
	background-color: #000;
	color: #BBBBBB; 
}

#footer-content {
	padding: 1em 0;
}

#footer-content p {
	margin: 0;
	text-align: center;
}