<!DOCTYPE html>
<html>
<head>
  <title>Are You A Stalker?</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='navbar navbar-inverse navbar-fixed-top'>
    <div class='container'>
      <a class='navbar-brand' href='http://www.google.com'>Home</a>
      <ul class='nav navbar-nav'>
        <li>
          <a href='#'>Away</a>
        </li>
        <li>
          <a href='#'>Away</a>
        </li>
      </ul>
      <ul class='nav navbar-nav pull-right'>
        <li>
          <a href='#'>My Profile</a>
        </li>
      </ul>
    </div>
  </div>
<%= yield %>

</body>
</html>
